.footer {
  background: #2c3e50;
  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 2.13;
    /* identical to box height, or 213% */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
}
