<section class="authorization">
    <div class="container">
    <form class="authorization-form">
        <p class="authorization-form__title">Register</p>
        <label><input class="authorization-form__input" type="text" placeholder="Email"></label>
        <label><input class="authorization-form__input" type="password" placeholder="Password"></label>
        <select name="Country" class="authorization-form__select">
            <option value="">Country</option>
            <option value="">Country 1</option>
            <option value="">Country 2</option>
            <option value="">Country 3</option>
        </select>
    </form>
    </div>
</section>