<header class="header">
    <div class="container">
    <div class="header__box">
        <a class="header__link">layout</a>
        <ul class="header__list">
            <li class="header__list__item"> <a class="header__list-link">html</a></li>
            <li class="header__list__item"><a class="header__list-link">css</a></li>
            <li class="header__list__item"><a class="header__list-link">javascript</a></li>
        </ul>
        <button class="header__btn">enter</button>
    </div>
    </div>
</header>